{% extends "base.html" %}
{% block title %} About {% endblock%}

{% block content %}
<!-- About The Project -->

<h1>About the Creator</h1>
<img src="/static/img/profilepic.jpg" alt="creator icon">
<p>Sam Charest is a Junior Management Information Systems major currently pursuing a Business Analytics Minor.<p>
<h2>Some other information:<h2>
<ul>
  <li>3.02 GPA</li>
  <li>Brother of Alpha Phi Omega</li>
  <li>Avid Dog Lover</li>
  <li>Big Time Marvel Fan</li>
  <li>From New York City, Born and Raised</li>
</ul>
{% endblock %}
