{% extends "base.html"%}
{% block title %}Add Movies{% endblock %}
{% block content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-film" aria-hidden="true"></i> Add Movies:</h1>
    <form action="/movies/add" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" placeholder="Title of the Movie" required="true">
      </div>
      <div class="form-group">
        <label>Year</label>
        <select class="form-control" name="year">
          {% for i in range(1950, 2025) %}
            {% if i == 2017 %}
              <option selected="selected">{{i}}</option>
            {% else %}
              <option>{{i}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>About</label>
        <input class="form-control" type="text" name="about" placeholder="About the Movie" required="true">
      </div>
      <div class="form-group">
        <label>Star</label>
        <input class="form-control" type="text" name="star_name" placeholder="Star of the Movie" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
  </div>

{% endblock%}
